# Build output
build/
build-templates/

# Cocos Creator generated
library/
temp/
local/
profiles/
native/engine/*/build/

# Node
node_modules/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log